<!DOCTYPE html>
<html>
  <head>
    <title>IamAwesome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/javascripts/lib/underscore.js"></script>
    <script src="/javascripts/lib/jquery.js"></script>
    <script src="/javascripts/lib/backbone.js"></script>
    <script src="/javascripts/lib/handlebars.js"></script>
    <script src="/javascripts/client.js"></script>
    <script src="/javascripts/init.js"></script>
  </head>
  <body>
    <h1>I am Awesome. R U?</h1>
    <h2><a href="/addface">Add your face here!</a></h2>
    <script id="facetemplate" type="text/x-handlebars">
      <a href="/theirface/{{_id}}" class="name">User: {{_id}}</a>
    </script>

  </body>
</html>
