<!DOCTYPE html>
<html>
  <head>
    <title>Some application name here</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/lib/underscore.js"></script>
    <script src="/javascripts/lib/jquery.js"></script>
    <script src="/javascripts/lib/backbone.js"></script>
    <script src="/javascripts/lib/handlebars.js"></script>
    <script src="/javascripts/client.js"></script>
    <script src="/javascripts/init.js"></script>
  </head>
  <body>
    <h1>Some application name here</h1>

    <div id="initialContent">
        <%= appData %>
    </div>

    <div class="app"></div>

    <script id="booktemplate" type="text/x-handlebars">
      <a href="#" class="name">{{name}}</a> - by {{author}}
    </script>

    <script id="detailbooktemplate" type="text/x-handlebars">
      <h2>{{name}}</h2>
      <p>Written by: {{author}} </p>
    </script>


  </body>
</html>
